###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.prod
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> database dumps ###
*.sql
###< database dumps ###

###> docker runtime data ###
/docker/
###< docker runtime data ###

###> public runtime media ###
/public/video/
/public/img/
/public/uploads/
###< public runtime media ###

###> local environment & cache ###
/.phpunit.result.cache
###< local environment & cache ###

###> local documentation & helpers ###
/SYSTEM_SAFE_SHUTDOWN
PawfectMatch_Documentation.txt
/build_pawfectmatch
build_upload.ps1
###< local documentation & helpers ###
